.sectionPrincipal {
    background: #100E1D;
    height: 100%;
    padding: 30px ;
}
.divDias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.current {
    padding-top: 30px;
}
.h2 {
    color: #E7E7EB;
}
@media all and (min-width:1100px) {
    .sectionPrincipal {
        padding: 100px;
    }
    .divDias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 30px;
        margin: 0% auto;
    }
}