.sectionPrincipal {
    background: #100E1D;
    height: 100%;
    padding: 30px ;
}
.divDias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.current {
    padding-top: 30px;
}
.h2 {
    color: #E7E7EB;
}
