.divPrincipal {
    background: #1E213A;
    padding: 20px;
    width: 120px;
}
.divPrincipal > * {
    margin: 0%;
    color: #E7E7EB;
}
.divTempMaxMin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divTempMaxMin > * {
    margin: 0%;
    font-size: 12px;
}
.tempMax {
    font-size: 14px;
    line-height: 19px;
    color: #E7E7EB;
}
.tempMin {
    font-size: 14px;
    line-height: 19px;
    color: #A09FB1;
}
.colorLetra {
    text-align: center;
}
@media all and (min-width:1100px) {
    .divPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .divTempMaxMin {
        width: 80%;
        justify-content: space-between;
    }
}