.divPrincipal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: 
    #1E213A;
    left: -100%;
    transition: left 0.5s ease;
    padding: 20px;
}
.divTrue {
    left: 0%;
    transition: left 0.5s ease;
}
.cancelar {
    text-align: right;
    color: #E7E7EB;
    cursor: pointer;
}
.formulario {
    display: flex;
    gap: 20px;
    position: relative;
}
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: #E7E7EB;
    padding-left: 30px;
}
.boton {
    background-color: #3C47E9;
    color:#E7E7EB;
    border: none;
    cursor: pointer;
}